body{
    margin: 0;
    background-color:whitesmoke
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.564);
    backdrop-filter: blur(10px);
    z-index: 1000; 
}

.navbar ul{

}

.navbar li {
    list-style: none;
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    font-family: monospace;
    font-size: 1.5rem;

}

.inner-navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar a {
    text-decoration:none;
    color: black;
    cursor: pointer;
}


.navbar a:hover {
    color: blue;
    transform: scale(3);
    backdrop-filter: blur(5px);
}

.hero-main{
    margin-top: 61px;
    display: flex;
    flex-direction: row;

}

.hero-left{
    width: 90%;
}

.hero-right{
    
}

.hero-right-inner{
   
   display: flex;
   flex-direction: column;
   margin-top: 160px;
}

.hero-right-inner img{
   height: 50px;
   width: 50px;
   margin-top: 40px;
   
}

.hero-right-inner img:hover{
    
    backdrop-filter: blur(10px);
    transform: scale(1.5);
    transition: 1.2s ease;
 }

 .hero-left{

 }

 .hero-left-inner{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 150px;
    margin-left: 10%;

 }

 

 .hero-left-inner-left img{
    height: 200px;
    width: 200px;
    margin: 30px;

 }

 .hero-left-inner-right{
    margin-top: 50px;
 }

 .hero-left-inner-right p{
    font-family: monospace;
    font-size: 2rem;
    margin-top: 40px;
    padding: 0;
    margin: 0;
    
 }

.button{
    background-color: white;
    color: black;
    border-style: outset;
    padding: 10px;
    border-radius: 20px;
    font-family: monospace;
    font-weight: bold;
}

.button:hover{
    color: blue;
    transform: scale(1.2);
    transition: 1s ease;
    cursor: pointer;
}

.heading{
    font-family: monospace;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 150px;
    margin-top: 220px;
}

.skills-list{
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    margin-right: 10%;
    padding-left: 10px;
    margin-top: 0;
    border-style:ridge;
}

.skills-list p{
    font-family: monospace;
    font-size: 1.6rem;
    font-weight: bold;
    margin-right: 0;

}
.skills-list p:hover{
    color: darkseagreen;
    cursor: default;
}

.skills-list ul{

}

.skills-list ul li{
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    font-family: monospace;
    font-size: 1.6rem;
    padding: 0;
    margin-top: 10px;
}

.skills-list ul li:hover{
    color: blue;
    cursor:default;
}

.contact-main{
    margin-top:100px;
    margin-left:10%;
    margin-right: 10%;
    padding: 40px;
    border-radius: 0;
    font-family: monospace;
    font-size: 1.8rem;
    border-style:ridge;
    border-width: 3px;

}

.contact-main h1{
    font-family: monospace;
    font-weight: bold;
    font-size: 1.8rem;
}

.information{
    display: flex;
    flex-direction: column;
}

.information a{
    text-decoration: none;
    color: black;
}


.footer{
    background-color: rgba(0, 0, 0, 0.263);
    color: aliceblue;
    height: 100px;
}

.footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-right: 10%;
    margin-left: 5%;
    
}

.footer ul li{
    list-style: none;
    margin-top: 45px;
    font-family: monospace;
    font-size: 1rem;
}

.footer ul a{
    text-decoration: none;
    color: white;
}

.footer ul li:hover{
   color: black;
}

.project-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 10%;
    margin-right: 10%;
}

.project-image{

}

.project-image img{
    height: 400px;
    width: 400px;
    margin-right: 40px;
}

.project-description{
   
    
}

.project-description p{
    margin-top: 10px;
    font-family: monospace;
    font-size: 1rem;
}

.project-description button{
    background-color: white;
    color: black;
    border-style: outset;
    padding: 10px;
    border-radius: 20px;
    font-family: monospace;
    font-weight: bold;
}

.project-description button:hover{
    color: blue;
    transform: scale(1.2);
    transition: 1s ease;
    cursor: pointer;
}

.project-description .project-heading{
    margin-top: 0;
}


@media only screen and (max-width: 600px) {
    /* CSS rules for small screens */
    body {
        font-size: 1rem
    }
    .hero-left-inner-right p{
        font-size: large;
        margin-bottom: 0;
    }
    .skills-list{
        margin-left: 10px;
        font-size: normal;
    }
    .heading{
        margin-left: 10px;
        
    }

    .hero-left{
        margin-bottom: 0;
    }
    .hero-left-inner-left img{
        height: 100px;
        width: 100px;
        margin-left: 0px;
        margin-right: 10px;
        margin-top: 40px;
    
     }
     .hero-right{
        margin-top: 0px;
     }
     .hero-right-inner img{
        height: 20px;
        width: 20px;
        margin-left: 20px;
        margin-right: 5px;
        
     }

     .button{
        padding: 5px;
        margin: 5px;
        margin-top: 20px;
        margin-left: 40px;
     }

     .footer ul{
        flex-direction: column;
    
     }

     .footer{
        height: auto;
     }
     .project-image img{
        height: 200px;
        width: 200px;
        margin-right: 40px;
    }

    .project-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 70px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .project-description .project-heading{
        margin-top: 40px;
    }

    .information a {
        font-size: large;
    }

    .information p{
        font-size: large;
    }
    .skills-list{
        margin: 5px;
    }

    .skills-list li{
        font-size: large;
    }

    .hero-main{
        margin-top: 61px;
        display: flex;
        flex-direction: column;
    
    }

    .hero-right-inner{
   
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        margin-left: 40%;
        margin-bottom: 0px;
        padding: 0  ;
        
     }
     
     .hero-right-inner img{
        height: 25px;
        width: 25px ;
        margin-top: 40px;
        
        
        
     }

     .hero-left-inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 80px;
        margin-left: 35%;
    
     }
    
     
    
     .hero-left-inner-left img{
        height: 200px;
        width: 200px;
        margin-bottom: 0;
        margin: 0;
        
    
     }
     .skills{
        margin-top: 0;
     }

     .heading{
        margin-top: 30px;
        margin-left: 30%
     }

     .navbar li{
        margin: 0;
        padding: 10px;
        align-items: center;
        margin-right: 10px;
        font-size: large;
     }
}